body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.logo {
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
  width: 40%;
  height: 40%;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ff9900);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #eeff06d2);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.link {
  margin-top: 10px;
  color: #ff0000;
  text-decoration:none;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
}
.link:hover {
  text-decoration: underline;
  color: #cc0000;
  background-color: transparent;
  border: none;
  border-color: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}