body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  padding: 20px;
  height: 100vh;
  width: 100%;
  border-radius: 20px;
}

.text-welcome{
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.logo .user-logo {
  width: 100px;
  height: 100px;
}

.user-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.link {
  margin-top: 10px;
  color: #ff0000;
  text-decoration:none;
  margin-bottom: 10px;
}

.link:hover {
  text-decoration: underline;
  color: #cc0000;
}

.add-button {
  width: 150px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 25px;
}
.add-button:hover {
  background-color: #0066d3;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}



.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.search-button {
  background-color: #464646;
  color: #fff;
  border: 1px solid #1f1f1f;
  padding: 10px 15px;
  border-radius: 25px;
}
.search-button:hover {
  background-color: #1f1f1f;
  border: 1px solid #1f1f1f;
}

.search-clean {
  background-color: transparent;
  margin-left: 10px;
  color: #f44336;
  border: 1px solid #f44336;
  padding: 10px 15px;
  border-radius: 25px;
}
.search-clean:hover {
  background-color: #f44336;
  margin-left: 10px;
  color: #fff;
  border: 1px solid #f44336;
  padding: 10px 15px;
  border-radius: 25px;
}

p, td {
  color: #000;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 10px;
}

.user-table th,
.user-table td {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
}

.user-table th {
  background-color: #007bff;
  color: #fff;
}

.action-button {
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 25px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.action-button.view {
  background-color: #21bfde;
  border: 1px solid #0493af;
}
.action-button.view:hover {
  background-color: #0493af;
  border: 1px solid #0493af;
}

.action-button.edit {
  background-color: #4caf50;
  border: 1px solid #127a16;
}
.action-button.edit:hover {
  background-color: #127a16;
  border: 1px solid #127a16;
}

.action-button.delete {
  background-color: #f44336;
  border: 1px solid #b41b10;
}
.action-button.delete:hover {
  background-color: #b41b10;
  border: 1px solid #b41b10;
}
