.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.logo .user-logo {
  height: 30%;
  width: 30%;
}

.user-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-actions p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.logoff-link {
  color: #f44336;
  text-decoration: none;
  margin-top: 5px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
  text-align: center;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #213a59;
}

.user-details {
  text-align: left;
  margin-bottom: 20px;
}

.user-details div {
  margin-bottom: 10px;
  color: #000;
}

.user-details strong {
  color: #213a59;
}